<h1>Add a new species</h1>

<form action='/contacts' method='post'>
  <label for='species_species'>Species</label>
  <input id='species_species' name='species[species]' type='text'>
  <button>Add Species</button>
</form>
